* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    content: "";
    width: 100%;
    height: 436px;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    background: #535971;
}

body {
    background: #e5e5e5;
}

.page {
    width: 750px;
    margin: auto;
}

header {
    width: 1440px;
    margin-top: -2px;

    gap: 18px;
}

h1 {
    font-family: "Staatliches", cursive;
}

h1 {
    font-family: "Staatliches";

    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    margin-top: 140px;
}

h1,
p {
    color: white;
}


p{
    margin-top: 18px;
    margin-bottom: 58px;
    width: 417px;
    font-family: 'Poppins';
    
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

form {
    position: absolute;

    background: #ffffff;
    border-radius: 20px 20px 0px 0px;

    padding: 64px;

    display: flex;
    flex-direction: column;
}



fieldset {
    
    border: none;
}

fieldset legend {
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    
    width: 100%;
    margin-bottom: 36px;

    color: #535971;

    border-bottom: 1px solid #E6E6F0;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
}


/* optei por deixar o margin-top das tags fieldset padrão apesar de saber que a segunda tag fieldset possui um margin-top de 2px de diferença */

.fieldset-wrapper-diferent{
    margin-top: 32px;
}

/* fieldset>legend:nth-child(1){
    margin-top: 32px;
} */


input{
    background: #FAFAFC;

    box-sizing: border-box;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 56px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #C1BCCC;
}

.col-2{
    display: flex;
    gap: 22px;

}

.col-2 .input-wrapper input{
    width: 300px;
} 

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 16px;
}

.input-wrapper label{
    font-family: 'Poppins';
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
         
}

.input-wrapper label span{
    color: #C1BCCC;
    transition: 4ms;
}

.input-wrapper label span:hover{
    color: #9995a0de;
    

}

h2{
    font-family: 'Staatliches';
  
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    
    color: #535971;
}

.col-3{
    display: flex;
    gap: 32px;
}

.col-3>div:nth-child(1) {
    width: 100%;
}